*{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    }
h1{
    font-size: 30px;
}


  .modal-backdrop {
    z-index: 0;
  }
header{
    background-image: url(./depositphotos_44207345-stock-photo-blue-grunge-background-texture.jpg);
    background-size: cover;
}